body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
     overflow-y: auto; /* Permitir desplazamiento vertical */
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0;
    box-sizing: border-box;
}

.timer-container {
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100px;
    height: auto;
    display: block;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 60px; /* Tamaño máximo opcional */
    margin: 0 auto; /* Centra el contenedor */
    position: relative; /* Para posicionar el tiempo en el centro */
}

.progress-ring {
    transform: rotate(-90deg); /* Rota el Ensō para que inicie desde la parte superior */
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84px;
    font-weight: bold;
    color: #e0e0e0;
}



input, button, a {
    background-color: #000000;
    border: 1px solid #555;
    border-radius: 5px;
    color: #e0e0e0;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

a#save-button {
    margin-top: 20px;
    background-color: #3b3b3a;
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

a#save-button.hidden {
    display: none;
}

a#save-button:hover, button:hover {
    background-color: #505050;
}

a#estadisticas-button {
    margin-top: 20px;
    background-color: #3b3b3a;
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

a#estadisticas-button.hidden {
    display: none;
}

a#estadisticas-button:hover, button:hover {
    background-color: #505050;
}

a#caminomedio-button {
    margin-top: 20px;
    background-color: #3b3b3a;
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

a#caminomedio-button.hidden {
    display: none;
}

a#caminomedio-button:hover, button:hover {
    background-color: #505050;
}

.start {
    background-color: #1b6b4f;
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
}

.start:hover {
    background-color: #505050;
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
    
}

.stop {
    background-color: #3b3b3b;
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
}

.stop:hover {
    background-color: #505050;
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
}


button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
}

button:hover {
    background-color: #5aa9a6;
    transform: scale(1.05);
     font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px 40px; /* Aumenta el espacio interno */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    text-transform: uppercase; /* Opcional: Texto en mayúsculas */
}

.progress-ring__circle {
    transition: stroke-dashoffset 1s linear;
}

#quote a {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #76c7c0;
    text-decoration: none;
}

#quote a:hover {
    text-decoration: underline;
}

